absl-py==2.1.0
attrs==24.3.0
contextily==1.6.2
fiona==1.10.1
folium==0.19.4
geopandas==1.0.1
geopy==2.4.1
huggingface-hub==0.27.1
Jinja2==3.1.5
keras==3.8.0
koreanize-matplotlib==0.1.1
matplotlib==3.10.0
mysql-connector-python==9.1.0
pandas
PyMySQL==1.1.1
pyogrio==0.10.0
rasterio==1.4.3
scikit-learn==1.6.1
seaborn==0.13.2
shapely==2.0.7
SQLAlchemy==2.0.37
tensorflow==2.18.0
tqdm==4.67.1
statsmodels